/*!
Amit Kumar Nandi
 */

.mbr-section.mbr-section__comments{
    position: relative;
}
.mbr-section__comments{
    background-size: cover;
}
.addons-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 576px) {
    .addons-container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .addons-container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .addons-container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1200px) {
    .addons-container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 576px) {
    .addons-container {
      width: 540px;
      max-width: 100%; } }
  @media (min-width: 768px) {
    .addons-container {
      width: 720px;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .addons-container {
      width: 960px;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .addons-container {
      width: 1140px;
      max-width: 100%; } }

.addons-container-inner{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 567px) {
    .addons-container-inner{
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}
.addons-row{
    display: flex;
    justify-content:center;
}